*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mitr', sans-serif;
    font-family: 'Prompt', sans-serif;
}
body {
    display: flex;
    align-items: center;
    height: 100vh;
    width: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
  }
  
.left-box {
    padding: 20px;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    
}
  
.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
  
.npru_h1 {
    margin-bottom: 50px;
    font-size: 24px;
}
  
.npru-button {
    width: 55%;
    border-radius: 4px;
    box-shadow: 0 2px 4px #131e6233;
    background-image: linear-gradient(98deg,#6633cc,#131e62);
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 12px 0;
    border: 0px;
}

.npru-button:hover {
    border-color: #93C5FD;
}

.npru-button a {
    color: #ffffff;
}

.npruhome {
    max-width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.8;
    filter: alpha(opacity=40);

}


