*{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mitr', sans-serif;
    font-family: 'Prompt', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: linear-gradient(98deg,#020831,#131e62);
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
}

.footer {
    display: flex;
    gap: 1rem;
    height: 50px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-text {
    color: #000;
}

.logo {
    width: 100%;
    height: 5rem;
    object-fit: contain;
}


.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    gap: 10px;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    gap: 100px;
  }
  
  .menu li {
    margin-bottom: 10px;
  } 
  .menu li a {
    text-decoration: none;
    color: #000;
  }

.menu li a:hover,
.menu li a:active {
  text-decoration: none;
  color: #4b13e5;
}

 
  

  
.content {
    margin-left: 250px; /* ขยับเนื้อหาไปทางขวาเพื่อหลีกเลี่ยง Sidebar */
    margin-right: 20px; /* ขยับเนื้อหาไปทางซ้ายเพื่อหลีกเลี่ยงส่วนอื่น ๆ */
    margin-top: 120px;
    height: 33rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: -1px;
    z-index: 1;
    border: 1px solid #dcd7d7;
}

.table-container {
    height: 420px; /* กำหนดความสูงของตาราง */
    overflow: auto; /* เพิ่มการเลื่อนแถวและคอลัมน์ของตาราง */
}
  
.custom-table {
    width: 100%;
    border-collapse: collapse;
}
  
.custom-table th, .custom-table td {
    padding: 12px;
}
.custom-table td {
    border: 1px solid #dcd7d7;
}
.td-a{
    border: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 0.375rem;
    color: #000;
}
.td-a:hover {
    color: #d20707;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.fas.fa-trash:hover {
    color: #d20707;
}
.fas.fa-trash {
    color: #000;
    display: flex;
    justify-content: center;
}
.fas.fa-edit {
    color: #000;
}
.fas.fa-edit:hover {
    color: #070ad2;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
}

.icon-wrapper a {
    margin: 0 5px;
}


.haederModal {
    display: flex;
    justify-content: space-between;
}
.record-p{
    text-align: center;
    font-size: 20px;
}

.Re-Data{
    padding: 5px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin-left: 20%;
    height: auto;
}
.Re-Data-radio {
     margin-top: 6px;
     margin-left: 20%;
     margin-bottom: 2rem;
}

.Re-Data-laber {
  float: left;
  margin-top: 6px;
  margin-left: 2%;
}
.npru-input {
    border: 1px solid #579cf1;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    width: 100%;
  }
  
  .npru-input:hover {
    border-color: #060488;
  }

  .npru-button {
    width: 52%;
    border-radius: 4px;
    box-shadow: 0 2px 4px #131e6233;
    background-image: linear-gradient(98deg,#6633cc,#131e62);
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 12px 0;
    border: 0px;
    font-size: 16px;
}

.npru-button:hover {
    border-color: #93C5FD;
}

select {
    border: 1px solid #BFDBFE;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    width: 100%;
  }
  
  select:hover {
    border-color: #60A5FA;
  }

.Add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}


.Edit {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px #131e6233;
    background: #131e62;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 8px 8px;
    font-size: 14px;
}

.delete{
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px #89142033;
    background: #d21111;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 8px 8px;
    font-size: 14px;
}

.Add{
    font-size: 18px;
}

.Add a {
    width: 15%;
    border-radius: 4px;
    box-shadow: 0 2px 4px #14738933;
    background: #1178d2;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 8px 8px;
    font-size: 14px;
}


  @media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
        margin-right: 0;
        width: auto;
        height: auto;
        position: relative;
        font-size: 13px;
    }

    .content p {
        font-size: 15px;
    }

    .table-container {
        height: auto;
    
    }
    .npru-button {
        font-size: 14px;
        padding: 7px 0;
    }
    

    .Re-Data {
        width: 90%;
        margin-left: 5%;
    }

    .Re-Data-laber {
        float: none;
        margin-top: 0;
        margin-left: 0;
        padding: 1px;
    }
}
@media screen and (max-width: 768px) {
    .Add a {
        width: 30%;
        padding: 7px 0;
    }
    
}


@media screen and (max-width: 768px) {
    .sidebar {
      position: static;
      height: 1px;
      width: auto;
      border: none;
      box-shadow: none;
      padding: 0;
      gap: 0;
      margin-top: 55px;
      background-color: #f2f2f2; /* เพิ่มสีพื้นหลังที่ต้องการ */
      z-index: -1; /* เพิ่ม z-index เป็นค่าติดลบเพื่อให้อยู่ในพื้นหลัง */
    }
  
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
    }
  
    .menu li {
      margin-bottom: 0;
    }
  }
  
  /* เพิ่ม CSS สำหรับ Responsive */
@media screen and (max-width: 768px) {
   
    .custom-table th,
    .custom-table td {
    
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%; /* ปรับขนาดสูงสุดของเนื้อหาในเซลล์ */
    }
  }

